torch==2.3.1
torchvision==0.18.1
einops==0.8.0
lightning==2.4.0
mediapipe==0.10.14
lightning[pytorch-extra]
timm==1.0.7
pandas==1.5.3
git+https://github.com/facebookresearch/pytorchvideo.git
torch_geometric